body{ 
    background: #CCCCCC;
} 
 
#banner{ 
    wicth: 100%;
} 

h1 {
    text-align: center;
}
p { 
    text-align: center;
    background: #CCCCCC; 
} 
 
em strong{ 
    color:#FF0000;

    .iftens{ 
font-style=italic; 
    }
} 
 
#missao{ 
    font-size: 20px;
}
